<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">

    <h1>Transportalarm</h1>
    <div class="div-table" >
        <div class="table-cell table-header">Beskrivelse</div>
        <div class="table-cell table-header">Modtager</div>
        <div class="table-cell table-header">Dato</div>
        <div class="table-cell table-header">Bilens registreringsnummer</div>
        <div class="table-cell table-header">Send Alarm</div>
        <div class="table-row" th:each="transportAlarm:${transportAlarms}">
            <div class="table-cell" th:text="${transportAlarm.getAlarmDescription()}"></div>
            <div class="table-cell" th:text="${transportAlarm.getAlarmReceiver()}"></div>
            <div class="table-cell" th:text="${transportAlarm.getAlarmDate()}"></div>
            <div class="table-cell" th:text="${transportAlarm.getCarRegNumber()}"></div>
            <div class="table-cell" >
                <form th:action="@{/send-message/send-email}" method="post">
                    <input type="hidden" name="alarmDescription" th:value="${transportAlarm.getAlarmDescription()}" />
                    <input type="hidden" name="alarmDate" th:value="${#dates.format(transportAlarm.getAlarmDate(), 'dd-MM-yyyy')}" />
                    <input type="hidden" name="alarmReceiver" th:value="${transportAlarm.getAlarmReceiver()}" />
                    <input type="hidden" name="alarmType" th:value="${transportAlarm.getAlarmType()}" />
                    <input type="hidden" name="carRegNumber" th:value="${transportAlarm.getCarRegNumber()}" />
                    <input type="submit" value="Send alarm via e-mail">
                </form>
            </div>
        </div>
    </div>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>