<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">

    <h1>Recent Payment Alarms</h1>
    <div class="div-table" >
        <div class="table-cell table-header">Description</div>
        <div class="table-cell table-header">Receiver</div>
        <div class="table-cell table-header">Date</div>
        <div class="table-cell table-header">Car Reg Number</div>
        <div class="table-cell table-header">Send Alarm</div>
        <div class="table-row" th:each="paymentAlarm:${paymentAlarms}">
            <div class="table-cell" th:text="${paymentAlarm.getAlarmDescription()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getAlarmReceiver()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getAlarmDate()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getCarRegNumber()}"></div>
            <div class="table-cell" >
               <form th:action="@{/send-message/send-email}" method="post">
                    <input type="hidden" name="alarmDescription" th:value="${paymentAlarm.getAlarmDescription()}" />
                    <input type="hidden" name="alarmDate" th:value="${#dates.format(paymentAlarm.getAlarmDate(), 'dd-MM-yyyy')}" />
                    <input type="hidden" name="alarmReceiver" th:value="${paymentAlarm.getAlarmReceiver()}" />
                    <input type="hidden" name="alarmType" th:value="${paymentAlarm.getAlarmType()}" />
                    <input type="hidden" name="carRegNumber" th:value="${paymentAlarm.getCarRegNumber()}" />
                    <input type="submit" value="Send Alarm by Email">
                </form>
            </div>
        </div>
    </div>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>