<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="..\static\stylesheets\index.css">
    <link rel="stylesheet" th:href="@{/stylesheets/table.css}" href="..\static\stylesheets\table.css">
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<div class="body-div">

    <h1>Recent Payment Alarms</h1>
    <div class="div-table" >
        <div class="table-cell table-header">Description</div>
        <div class="table-cell table-header">Receiver</div>
        <div class="table-cell table-header">Date</div>
        <div class="table-cell table-header">Car Reg Number</div>
        <div class="table-cell table-header">Send Alarm</div>
        <div class="table-row" th:each="paymentAlarm:${paymentAlarms}">
            <div class="table-cell" th:text="${paymentAlarm.getAlarmDescription()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getAlarmReceiver()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getAlarmDate()}"></div>
            <div class="table-cell" th:text="${paymentAlarm.getCarRegNumber()}"></div>
            <div class="table-cell" >Send Alarm</div>
        </div>
    </div>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>