<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="..\static\stylesheets\index.css">
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<div class="body-div">
    <form style="text-align: center
" th:action="@{/rent/add-finish-renting-periode}" method="post">
        <h1>Afslut lejeaftale
        </h1>
        <div>
            <label>Lejeaftalenr.:
                <input type="number" name="agreementNumber" placeholder="Lejeaftalenr">
            </label>
        </div>
        <br>
        <div>
            <label>Registreringsnr.:
                <input type="number" name="carRegNumber" placeholder="Bilens registreringsnr.">
            </label>
        </div>
        <br>
        <div>
            <label>Kunde Id:
                <input type="number" name="customerId" placeholder="Kundenr.">
            </label>
        </div>
        <br>
        <div>
            <label>Kommentar:
                <input type="text" name="description" placeholder="Nogen kommentar">
            </label>
        </div>
        <br>
        <div>
            <label>Medarbejder Id:
                <input type="number" name="employeeId" placeholder="Medarbejdernr.">
            </label>
        </div>
        <br>
        <div>
            <label>Dato:
                <input type="date" name="endingDate" placeholder="Dato for afslutning af lejemål">
            </label>
        </div>
        <br>
        <div>
            Lejeaftale status:
            <div>
                <label>Aktiv:
                    <input type="radio" name="rentingStatus" value="true">
                </label>
            </div>
            <br>
            <div>
                <label>Afsluttet:
                    <input type="radio" name="rentingStatus" value="false">
                </label>
            </div>
            <br>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
<br>
<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>