<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="..\static\stylesheets\index.css">
    <title>Aftale</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<div class="body-div">
    <form style="text-align: center
" th:action="@{/rent/add-renting-agreement}" method="post">
        <h1>Ny lejeaftale
        </h1>
        <div>
            <label>Pris:
                <input type="number" min="2999" max="5999" name="price" placeholder="Fra 2.999 kr./md" required>
            </label>
        </div>
        <div>
            <!-- Hvilken beskrivelse?-->
            <label>Description:
                <input type="text" name="description" placeholder="beskrivelse">
            </label>
        </div>
        <div>
            Type:
            <div>
                <label>Limited
                    <input type="radio" name="type">
                </label>
            </div>
            <div>
                <label>Unlimited
                    <input type="radio" name="type">
                </label>
            </div>
        </div>
        <label>Kunde Id:
            <input type="number" name="customerId" placeholder="kundenr." required>
        </label>
        <div>
            <label>Bil registeringsnr:
                <input type="number" name="carRegNumber" placeholder="Bilens registringsnr." required>
            </label>
        </div>
        <div>
            <label> Medarbejder Id:
                <input type="number" name="employeeId" placeholder="Dit medarbejdernr." required>
            </label>
        </div>
        <button>Submit</button>
    </form>
</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>