form{
    border: 2px solid cornflowerblue;
    /*
    padding: 20px;
    */

}

.label{
    font-weight: bold;
    font-size: 20px;
}


input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=radio]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


input[type=file]{
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}

input[type=submit]{
    width: 100%;
    background-color: #016ABC;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #B9DFFF;
}