<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- fragment to link css and javascript starts here -->
<div th:fragment="head">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="..\static\stylesheets\index.css">
    <link rel="stylesheet" th:href="@{/stylesheets/table.css}" href="..\static\stylesheets\table.css">
    <link rel="stylesheet" th:href="@{/stylesheets/renting.css}" href="..\static\stylesheets\renting.css">
    <link rel="stylesheet" th:href="@{/stylesheets/reportstyle.css}" href="..\static\stylesheets\reportstyle.css">
    <link rel="stylesheet" th:href="@{/stylesheets/form.css}" href="..\static\stylesheets\form.css">
</div>
<!-- fragment to link css and javascript finish here -->


<!-- menu div fragment start here -->
<div th:fragment="menu">

    <div class="dropdown">
        <button class="dropbtn"><a th:href="@{/index}" href="../index">Hjem</a></button>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Bestilling</button>
        <div class="dropdown-content">
            <a th:href="@{/booking/find-car}" href="../booking/find-car">Bestil en Bil</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Car Service</button>
        <div class="dropdown-content">
            <a th:href="@{/car/register-new-car}" href="../car/make-renting-agreement">Register Ny Bil</a>
            <a th:href="@{/car/see-car-current-status}" href="../car/see-car-current-status">Oversigt over biler</a>
            <a th:href="@{/car/delete-registered-car}" href="../car/delete-registered-car">Slet Registreret Bil</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Leasing Information</button>
        <div class="dropdown-content">
            <a th:href="@{/lease/register-lease}" href="../lease/register-lease">Register Lease</a>
            <a th:href="@{/lease/finish-lease}" href="../lease/finish-lease">Slutgør Lease</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Rapport</button>
        <div class="dropdown-content">
            <a th:href="@{/report/delete-damage-report}" href="../report/delete-damage-report">Slet Skades Rapport</a>
            <a th:href="@{/report/delete-condition-report}" href="../report/delete-condition-report">Slet Tilstands Rapport</a>
            <a th:href="@{/report/delete-registration-report}" href="../report/delete-registration-report">Slet Registrerings Rapport</a>
            <a th:href="@{/report/make-damage-report}" href="../report/make-damage-report">Lav Skades Rapport</a>
            <a th:href="@{/report/make-condition-report}" href="../report/make-condition-report">Lav Tilstands Rapport</a>
            <a th:href="@{/report/make-registration-report}" href="../report/make-registration-report">Lav Registrerings Rapport</a>
            <a th:href="@{/report/show-damage-report}" href="../report/show-damage-report">Vis alle Skades Rapporter</a>
            <a th:href="@{/report/show-condition-report}" href="../report/show-condition-report">Vis alle Tilstands Rapporter</a>
            <a th:href="@{/report/show-registration-report}" href="../report/show-registration-report">vis Alle Registrerings Rapporter</a>
            <a th:href="@{/report/search-damage-report}" href="../report/search-damage-report">Søg Skades Rapport</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Faktura</button>
        <div class="dropdown-content">
            <a th:href="@{/invoice/make-invoice}" href="../invoice/make-invoice">Lav Faktura</a>
            <a th:href="@{/invoice/see-an-invoice-detail}" href="../invoice/see-an-invoice-detail">Se en fakturadetaljer</a>
            <a th:href="@{/invoice/see-all-due-invoice}" href="../invoice/see-all-due-invoice">Se alle forfaldne fakturaer</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Alarm</button>
        <div class="dropdown-content">
            <a th:href="@{/alarm/see-recent-alarm}" href="../alarm/see-recent-alarm">Se Seneste alarm</a>
            <a th:href="@{/alarm/see-payment-alarm}" href="../alarm/see-payment-alarm">Se Betalingsalarm</a>
            <a th:href="@{/alarm/see-transport-alarm}" href="../alarm/see-transport-alarm">Se Transportalarm</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Leje</button>
        <div class="dropdown-content">
            <a th:href="@{/rent/make-renting-agreement}" href="../rent/make-renting-agreement">Ny lejeaftale</a>
            <a th:href="@{/rent/finish-renting-periode}" href="../rent/finish-renting-periode">Afslut lejeperioden</a>
            <a th:href="@{/rent/register-pickup-car}" href="../rent/register-pickup-car">Registrer hentede Car</a>
            <a th:href="@{/rent/register-returned-car}" href="../rent/register-returned-car">Registrer returneret bil</a>
            <a th:href="@{/rent/show-renting-agreement.html}" href="../rent/show-renting-agreement.html">Vis lejeaftale</a>
            <a th:href="@{/rent/overview-of-payments.html}" href="../rent/overview-of-payments.html">Vis samle pris over udlejede biler</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Dashboard</button>
        <div class="dropdown-content">
            <a th:href="@{/statistic/average-renting-time}" href="../statistic/average-renting-time">Gennemsnitlig lejetid</a>
            <a th:href="@{/statistic/average-pay-time}" href="../statistic/average-pay-time">Gennemsnitlig betalingstid</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Transport</button>
        <div class="dropdown-content">
            <a th:href="@{/transport/order-transport}" href="../transport/order-transport">Bestil Transport</a>
            <a th:href="@{/transport/end-a-transport}" href="../transport/end-a-transport">Afslut transport</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Kunde</button>
        <div class="dropdown-content">
            <a th:href="@{/customer/add-customer}" href="../customer/add-customer">Tilføj Kunde</a>
            <a th:href="@{/customer/edit-customer}" href="../customer/edit-customer">Redigere Kunde</a>
            <a th:href="@{/customer/delete-customer}" href="../customer/delete-customer">Slet Kunde</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Medarbejder</button>
        <div class="dropdown-content">
            <a th:href="@{/employee/add-employee}" href="../employee/add-employee">Tilføj en Medarbejder</a>
            <a th:href="@{/employee/edit-employee}" href="../employee/edit-employee">Redigere en Medarbejder</a>
            <a th:href="@{/employee/delete-employee}" href="../employee/delete-employee">Slet en Medarbejder</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Login</button>
        <div class="dropdown-content">
            <a th:href="@{/login/login-employee}" href="../login/login-employee">Medarbejder Login</a>
            <a th:href="@{/login/login-customer}" href="../login/login-customer">Kunde Login</a>

        </div>
    </div>


</div>
<!-- menu div fragment finish here -->


<!-- footer fragment start here-->
<div th:fragment="footer">

        <div class="footer-detail">
            <div class="footer-logo">
                Bilabonnement logo
            </div>
            <div class="footer-links-1">
                Om Bilabonnement</br>
                Spørgsmål og svar</br>
                Indhold på siden</br>
                Samarbejdspartnere</br>
                Kontakt os</br>
            </div>
            <div class="footer-links-2">
                Information om cookies</br>
                Persondatapolitik</br>
                Samtykke</br>
                Opbevaring af dine oplysninger</br>
            </div>
            <div class="footer-social-media">
                Følg os på Facebook
            </div>
        </div>
        <div class="footer-address">
            <p class="footer-address-header">Bilabonnement A/S</p>
            <p>Slotsherrensvej 411c 2610 Rødovre CVR-nr. 37856827</p>
        </div>
</div>
<!-- footer fragments ends here -->

</body>
</html>