<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">
    <h1>Afslut transport</h1>
    <form th:action="@{/transport/end-a-transport}" method="post">

        <laberl for="id"> Indtast transport-id </laberl>
        <input type="number" id="id" name="id">

        <label for="deliveryDate">Leveringsdato</label>
        <input type="date" id="deliveryDate" name="deliveryDate">

        <input type="submit" value="Afslut transport">
    </form>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>