<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Bestil en Bil</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">
    <h1>Bestil en Bil</h1>
    <div>
        <form th:action="@{/booking/final-booking}" method="post">
            <label for="customerId">Indsats Kunden Id</label>
            <input type="number" id="customerId" name="customerId">
            <label for="carRegNumber">Bilens Registreringsnummer</label>
            <input type="number" id="carRegNumber" name="carRegNumber" th:value="${carRegNumber}">
            <input type="submit" value="Book">
        </form>
    </div>



</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>