<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Bestil en Bil</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">
    <h1>Søg en Bil</h1>

    <form th:action="@{/booking/find-car}" method="post">
        <label> Vælg bilmærke </label><br>
        <input type="checkbox" id="volvo" name="carBrand" value="volvo">
        <label for="volvo">Volvo</label><br>
        <input type="checkbox" id="bmw" name="carBrand" value="bmw">
        <label for="bmw">BMW</label><br>
        <input type="checkbox" id="mercedes" name="carBrand" value="mercedes">
        <label for="mercedes">Mercedes</label><br>
        <input type="checkbox" id="volkswagen" name="carBrand" value="volkswagen">
        <label for="volkswagen">Volkswagen</label><br>

        <label> Vælg brændstoftype </label><br>
        <input type="checkbox" id="benzin" name="fuelType" value="benzin">
        <label for="bmw">Benzin</label><br>
        <input type="checkbox" id="diesel" name="fuelType" value="diesel">
        <label for="diesel">Diesel</label><br>
        <input type="checkbox" id="hybrid" name="fuelType" value="hybrid">
        <label for="hybrid">Hybrid</label><br>
        <input type="checkbox" id="electric" name="fuelType" value="electric">
        <label for="electric">El</label><br>

        <input type="submit" value="Søg Bil">
    </form>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>