<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">

    <h1>Lav Faktura</h1>
    <form method="post" th:action="@{/invoice/make-invoice}">

        <label class="label">Faktura Dato</label>
        <input type="Date" name="invoiceDate">

        <label class="label">Faktura Modtager</label>
        <input type="text" name="invoiceReceiver" />

        <label class="label">Faktura Type</label>
        <input type="text" name="invoiceType" />

        <label class="label">Faktura Beløb</label>
        <input type="number" name="paymentAmount" />

        <label class="label">Faktura Frist</label>
        <input type="date" name="paymentDeadline">

        <label class="label">Bilens registreringsnummer</label>
        <input type="number" name="carRegNumber" />

        <label class="label">Medarbejder-ID</label>
        <input type="number" name="employeeId" />

        <label class="label">Aftalenummer</label>
        <input type="number" name="agreementNumber" />

        <label class="label">Kunden ID</label>
        <input type="number" name="customerId" />

        <input type="submit" value="Lav Faktura">
    </form>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>