<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">
    <h1>Gennemsnitlig betalingstid: <span th:text="${averagePayTimeInDays}"></span></h1>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>