<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<!--
*** Author Nazmul
-->
<div class="body-div">

    <h1>Tilføj Bruger</h1>
    <form method="post" th:action="@{/customer/add-customer}" th:object="${customer}">

        <label class="label">Fulde navn</label>
        <input type="text" name="name">

        <label class="label">CPR nummer</label>
        <input type="number" name="cprNumber">

        <label class="label">Brugernavn</label>
        <input type="text" name="username" />

        <label class="label">Adgangskode</label>
        <input type="text" name="password" />

        <label class="label">Adresse</label>
        <input type="text" name="address">

        <label class="label">Kørekort</label>
        <input type="text" name="drivingLicense">

        <label class="label">Pasnummer</label>
        <input type="text" name="passportNumber">

        <label class="label">Telefonnummer</label>
        <input type="number" name="phoneNumber" />

        <label class="label">Kreditvurdering</label>
        <input type="number" name="creditRating" />

        <label class="label">Kreditkort</label>
        <input type="number" name="creditCard" />
        <input type="submit" value="Tilføj Kunde">
    </form>

</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>