<!-- Forfatter: Sara -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/fragment/fragments :: link}"></th:block>
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<div class="body-div-see-cars-current-status">
    <h1> Oversigt over bilernes status </h1>
    <br>
    <br>
    <h3> Oversigt over bilernes information: </h3>

    <div class="div-table" style="text-align: center">
        <div class="table-cell table-header">Registrerings nummer:</div>
        <div class="table-cell table-header">Bilmærke:</div>
        <div class="table-cell table-header">Bil model:</div>
        <div class="table-cell table-header">Farve på bilen:</div>
        <div class="table-cell table-header">Tilbehør til bilen:</div>
        <div class="table-cell table-header">Bilens chasis:</div>
        <div class="table-cell table-header">Kørte km:</div>
        <div class="table-cell table-header">Skat:</div>
        <div class="table-cell table-header">CO2 udledning:</div>
        <div class="table-cell table-header">Fastlagt pris:</div>
        <div class="table-cell table-header">Brændstof:</div>
        <div class="table-cell table-header">Dato på bilen:</div>

        <div class="table-row" th:each="showCar:${showCars}">
            <div class="table-cell" th:text="${showCar.getRegNumber()}"></div>
            <div class="table-cell" th:text="${showCar.getCarBrand()}"></div>
            <div class="table-cell" th:text="${showCar.getCarModel()}"></div>
            <div class="table-cell" th:text="${showCar.getCarColor()}"></div>
            <div class="table-cell" th:text="${showCar.getAccessories()}"></div>
            <div class="table-cell" th:text="${showCar.getChasisLevel()}"></div>
            <div class="table-cell" th:text="${showCar.getDrivenKM()}"></div>
            <div class="table-cell" th:text="${showCar.getTax()}"></div>
            <div class="table-cell" th:text="${showCar.getCo2Emission()}"></div>
            <div class="table-cell" th:text="${showCar.getStelPrice()}"></div>
            <div class="table-cell" th:text="${showCar.getFuelType()}"></div>
            <div class="table-cell" th:text="${showCar.getDateOfCar()}"></div>
        </div>
    </div>


</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>