<!-- Forfatter: Sara -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="..\static\stylesheets\index.css">
    <title>Title</title>
</head>
<body>
<!-- menu inserted from fragments-->
<div class="menu-div" th:insert="/fragment/fragments.html::menu"></div>

<div class="body-div-see-cars-current-status">
    <h1> Oversigt over bilernes status </h1>
    <br>
    <br>
    <h3> Oversigt over bilens nuværende lokation </h3>

    <div class="table-row" th:each="car:${showCars}">
        <div th:text="${car.getRegNumber()}"></div>


    </div>



</div>

<!-- footer content inserted from fragments-->
<div class="footer-div" th:insert="/fragment/fragments.html::footer"></div>

</body>
</html>